<div class="row">
	
	<div id="static_pages_lt" class="large-8 columns">
		<h3>Welcome to <em>Ruby on Rails</em></h3>
		<div class="panel callout radius">
			<p>
				Key 1 Application
			</p>
		</div>
		<div class="panel radius">
			<h4>
			&nbsp;
			</h4>
		</div>
	</div>

	<div class="large-4 columns">
		<h4 class="subheader"><em>Key1</em> App</h4>
		<div class="panel radius">
			<h4>
			&nbsp;
			</h4>
		</div>
	</div>

</div>
