<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <!-- Right Nav Section
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Rt Item 1</a>
          <ul class="dropdown">
            <li><a href="#">Drop 1</a></li>
            <li><a href="#">Drop 2</a></li>
            <li class="has-dropdown">
              <a href="#">Nested Drop</a>
              <ul class="dropdown">
                <li><a href="#">Nested 1</a></li>
                <li><a href="#">Nested 2</a></li>
                <li><a href="#">Nested 3</a></li>
              </ul>
            </li>
            <li><a href="#">Drop 3</a></li>
          </ul>
        </li>
        <li><a href="#">Rt Item 2</a></li>
      </ul> -->

      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to("For Select", for_selects_path) %></li>
        <li><%= link_to("Keys", keys_path) %></li>
        <li><%= link_to("Home", root_path) %></li>
      </ul>
    </section>
  </nav>  
</div>